@import "../vendor/scss/mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "../vendor/scss/functions";
@import "../vendor/scss/variables";
@import "../vendor/scss/variables-dark";
@import "../vendor/scss/maps";
@import "../vendor/scss/mixins";
@import "../vendor/scss/utilities";

// Layout & components
@import "../vendor/scss/root";
@import "../vendor/scss/reboot";
@import "../vendor/scss/type";
@import "../vendor/scss/images";
@import "../vendor/scss/containers";
@import "../vendor/scss/grid";
@import "../vendor/scss/tables";
@import "../vendor/scss/forms";
@import "../vendor/scss/buttons";
@import "../vendor/scss/transitions";
@import "../vendor/scss/dropdown";
@import "../vendor/scss/button-group";
@import "../vendor/scss/nav";
@import "../vendor/scss/navbar";
@import "../vendor/scss/card";
@import "../vendor/scss/accordion";
@import "../vendor/scss/breadcrumb";
@import "../vendor/scss/pagination";
@import "../vendor/scss/badge";
@import "../vendor/scss/alert";
@import "../vendor/scss/progress";
@import "../vendor/scss/list-group";
@import "../vendor/scss/close";
@import "../vendor/scss/toasts";
@import "../vendor/scss/modal";
@import "../vendor/scss/tooltip";
@import "../vendor/scss/popover";
@import "../vendor/scss/carousel";
@import "../vendor/scss/spinners";
@import "../vendor/scss/offcanvas";
@import "../vendor/scss/placeholders";

// Helpers
@import "../vendor/scss/helpers";

// Utilities
@import "../vendor/scss/utilities/api";
// scss-docs-end import-stack

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@900&display=swap");

:root {
  --main-pink: (rgb(239, 0, 108));
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  color: white;

  font-stretch: extra-expanded;
}

// body::after {
//     background-image: ;
// }
.container-fluid {
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
    rgba(230, 130, 132, 0.9),
    rgb(239, 216, 140, 0.9)
  );
}

.container-fluid::before {
  background-image: url(img/hawk.png);
}

header {
  margin-top: 1.5rem;
}

.nav-li {
  display: inline-block;
  // border: 1px solid black;
  // padding: 1vh 1.5vh 1vh 1.5vh;
  padding: 0 25px 0 25px;
  margin-top: 1vh;
  text-align: center;
  line-height: 0.8;
  font-weight: 500;
  min-height: 2rem;
  font-size: 14px;
  vertical-align: middle;
}

// .nav-li-span {
//     &:hover {
//         &::after{
//             content: '';
//             display: block;
//             width: 100%;
//             height: 1px;
//             background-color: white;
//             margin-top: 5px;
//         }
//     }
// }
.nav-li-span {
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: white;
    margin-top: 5px;
    border-radius: 1px;
  }
}
.nav-li-span {
  &:hover {
    &::after {
      width: 100%;
      transition: width 0.1s;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.nav-li-img {
  min-width: 3rem;
  cursor: pointer;
}

.icon {
  transition: 1s all ease-in-out;
}
.icon:hover {
  transform: rotate(50deg) scale(1.2);
  transition: 0.3s all ease-in-out;
}

.main-menu {
  // background-color: rgb(0, 157, 255);
  padding: 0;
  min-height: 4rem;
  margin: 0 auto;
}

.selected {
  border-bottom: 3px solid white;
}

.logo {
  text-align: center;
  vertical-align: middle;
}

.logo-text {
  font-size: 30px;
  font-weight: bold;
}

.section {
  text-align: center;
  margin: 0 auto;
}

.main-text-upper {
  font-family: "Sassy Frass", cursive;
  font-size: 80px;
}

.main-text {
  font-family: "Passion One", cursive;
  font-size: 100px;
  font-weight: 900;
  line-height: 0.8;
  letter-spacing: 0.5rem;
}

#section1 {
  padding-top: 15vh;
}
.main-line {
  background-color: rgb(255, 255, 255);
  height: 2.5px;
  margin: 0 auto;
  max-width: 5vw;
  opacity: 1;
  border: 1px solid white;
  border-radius: 5px;
  margin: 3rem auto 3rem auto;
}

.btn-learnmore {
  color: white;
  background-color: rgba(0, 255, 255, 0);
  border: 2px solid white;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  // animation: btn-out 0.3;
}

// .btn-learnmore::after, .btn-learnmore::before {
//     content: "";
//     background-color: red;
//     width: 50px;
//     height: 50px;
//     position:absolute;
// }

.btn-learnmore:hover {
  animation: btn-in 0.3s forwards;
}

@keyframes btn-in {
  from {
    transform: translate(0px, 0px);
    box-shadow: 0px 0px black;
    // border-bottom: 1px solid white;
    // border-right: 1px solid white;;
  }
  to {
    transform: translate(-5px, -3px);
    box-shadow: 5px 8px 8px -4px black;
    // border-bottom: 5px solid gray;
    // border-right: 5px solid gray;;
  }
}
// @keyframes btn-out {
//     from {
//         transform: translate(-5px, -3px);
//         box-shadow:  5px 8px 8px -4px black;
//     }
//     to {
//         transform: translate(0px, 0px);
//         box-shadow: 0px 0px black;
//     }
// }

.bg-img-container {
  width: 100%;
  position: absolute;
}

.bg-img {
  position: absolute;
  top: 0;
  margin: 0 auto;
}
